<h3 style="padding-left: 30px; text-align: center;"><u>Update Teacher Details</u></h3>

<form  (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="container">

    <div for="firstname" class="form-group">
        <label>First Name:</label>
        <input formControlName="firstname" type="text" class="form-control" id="firstname" name="firstName" 
        [(ngModel)]="teacher.firstName">
    </div>
        <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="alert alert-danger">
            <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">
                First Name is Mandetory!!!    
            </div> 
            <div *ngIf="f['firstname'].errors && f['firstname'].errors['minlength']">
                Minimum of 3 character for First Name!!!
            </div>
        </div>

    <div for="lastname" class="form-group">
        <label>Last Name:</label>
        <input formControlName="lastname" type="text" class="form-control" id="lname" name="lastName" 
        [(ngModel)]="teacher.lastName">
    </div>
    <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="alert alert-danger">
        <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">
            Last Name is Mandetory!!!    
        </div> 
        <div *ngIf="f['lastname'].errors && f['lastname'].errors['minlength']">
            Minimum of 3 character for Last Name!!!
        </div>
    </div>

    <div for="contact" class="form-group">
        <label>Contact:</label>
        <input formControlName="contact" type="text" class="form-control" id="contact" name="contact" 
        [(ngModel)]="teacher.contact">
    </div>
    <div *ngIf="f['contact'].touched && f['contact'].invalid" class="alert alert-danger">
        <div *ngIf="f['contact'].errors && f['contact'].errors['required']">
            Contact is Mandetory!!!    
        </div> 
        <div *ngIf="f['contact'].errors && f['contact'].errors['minlength']">
            Minimum of 10 numbers for Contact!!!
        </div>
        <div *ngIf="f['contact'].errors && f['contact'].errors['pattern']">
             10 Numeric Value for Contact!!!
        </div>
    </div>
    

    <div for="email" class="form-group">
        <label>Email:</label>
        <input formControlName="email" type="email" class="form-control" id="email" name="email" 
        [(ngModel)]="teacher.email">
    </div>
    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
        <div *ngIf="f['email'].errors && f['email'].errors['required']">
            Email is Mandetory!!!    
        </div> 
        <div *ngIf="f['email'].errors && f['email'].errors['email']">
            Not a valid type for Email!!!
        </div>
    </div>

    <div for="username" class="form-group">
        <label>User Name:</label>
        <input formControlName="username" type="text" class="form-control" id="username" name="userName"  
        [(ngModel)]="teacher.userName">
    </div>
    <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
        <div *ngIf="f['username'].errors && f['username'].errors['required']">
            UserName is Mandetory!!!    
        </div> 
        <div *ngIf="f['username'].errors && f['username'].errors['minlength']">
            Minimum of 3 character for UserName!!!
        </div>
    </div>

    <div for="password" class="form-group">
        <label>Password:</label>
        <input formControlName="password" type="password" class="form-control" id="password" name="password" 
        [(ngModel)]="teacher.password">
    </div>
    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
        <div *ngIf="f['password'].errors && f['password'].errors['required']">
            Password is Mandetory!!!    
        </div> 
        <div *ngIf="f['password'].errors && f['password'].errors['minlength']">
            Minimum of 6 character for Password!!!
        </div>
    </div>
    
    <br>

   
    <button class="btn btn-success" type="submit" >Submit</button>
   

</div>
</form>
